@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('/static/background.jpg');
}

#title {
    position:absolute;
    font-size: 48;
    color: yellow;
    left:40%;
    top:40%;
    margin-left:-50px;
    margin-top:-50px;
    
}

#brawltag {
    width: 200px;
    height: 30px;
}
.input
{
    color: yellow;
    position:absolute;
    width:450px;
    height:200px;
    left:40%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
    font-size: 30;
}

#menu2 ul{
    list-style: none;
    text-align: center;
  }
#menu2 li{
    display: inline;
    padding-left:40px;
    font-size: 24;
  }

#IMGmenu ul{
    list-style: none;
    text-align: center;
    margin-right: 100px;
  }
#IMGmenu li{
    display: inline;
    padding-left:150px;
  }

#menu ul{
    list-style: none;
    text-align: center;
  }
#menu li{
    display: inline;
    padding-left:185px;
    padding-right:185px;
    font-size: 36;
  }

#user {
    text-align: center;
}