<html>
    <script type="text/javascript">
        function load()
        {
        document.getElementById('image').src = displaydate();
        }
        
        function displaydate()
        {
            if("{{ topThree[1].get('name') }}" == 'Colt')
            {
                return "{{url_for('static', filename='images/colt.png')}}";
            }
        }
    </script>
    
    <body onload="load()" class="leaderboards">
        <img src="nothing.jpg" id="image" name="image" height="350px" width="300px"/>
    </body>
</html> 